<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 네트워크 상태 사용 권한 (필요 시 추가) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KickUnity"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- 스플래시 액티비티 -->
        <activity android:name=".SplashActivity"
            android:exported="true"> <!-- exported=true: 앱이 실행되는 첫 화면이므로 exported=true -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 메인(시작) 액티비티 -->
        <activity android:name=".MainActivity"
            android:exported="true" />

        <!-- 이메일 인증 액티비티 -->
        <activity android:name=".EmailVerificationActivity"
            android:exported="true" /> <!-- 이 액티비티가 다른 앱에서 호출될 가능성이 있으면 exported=true -->

        <!-- 이메일 인증 코드 액티비티 -->
        <activity android:name=".EmailVerificationCodeActivity"
            android:exported="true" /> <!-- 이 액티비티가 다른 앱에서 호출될 가능성이 있으면 exported=true -->

        <!-- 비밀번호 찾기 액티비티 -->
        <activity android:name=".FindPasswordActivity"
            android:exported="true" /> <!-- 이 액티비티가 다른 앱에서 호출될 가능성이 있으면 exported=true -->

        <!-- 회원가입 액티비티 -->
        <activity android:name=".SignUpActivity"
            android:exported="true" /> <!-- 이 액티비티가 다른 앱에서 호출될 가능성이 있으면 exported=true -->

        <!-- 홈 화면 액티비티 -->
        <activity android:name=".HomeActivity"
            android:exported="true" /> <!-- 이 액티비티가 다른 앱에서 호출될 가능성이 있으면 exported=true -->

        <!-- 글쓰기 액티비티 -->
        <activity android:name=".WriteActivity"
            android:exported="false" /> <!-- exported=false: 외부에서 호출되지 않으므로 exported=false -->

        <!-- 팀 만들기 액티비티 -->
        <activity android:name=".CreateTeamActivity"
            android:exported="false" /> <!-- exported=false: 외부에서 호출되지 않으므로 exported=false -->

        <!-- 팀 검색 액티비티 -->
        <activity android:name=".SearchTeamActivity"
            android:exported="false" /> <!-- exported=false: 외부에서 호출되지 않으므로 exported=false -->

        <!-- 프로필 편집 액티비티 -->
        <activity android:name=".ProfileEditActivity"
            android:exported="true" />

        <!-- 닉네임 변경 액티비티 -->
        <activity android:name=".NicknameChangeActivity"
            android:exported="true" />

        <!-- 비밀번호 변경 액티비티 -->
        <activity android:name=".PasswordChangeActivity"
            android:exported="true" />

    </application>
</manifest>
